html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-image: url("../images/background.jpeg");
}

.is-light-white-color {
	color: white;
	font-weight: normal;
}

.is-light-blue-color {
	color: #9be0ff;
	font-weight: normal;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
}

.input-error {
	border: 1px solid #f03a5f !important;
}

.is-navbar-transparent {
	background-color: rgba(0, 0, 0, 0.3);
}

.is-white-text {
	color: white;
}

.navbar-button:hover {
	background-color: rgba(0, 0, 0, 0.5) !important;
	color: #9be0ff !important;
}

#submitInput {
	background-color: #495c86;
	border-color: #495c86;
	color: white;
	border-radius: 7px;
}

input[type="text"] {
    background: rgba(0, 0, 0, 0.5);
	color: white;
    border: none;
}

input[type="password"] {
	background: rgba(0, 0, 0, 0.5);
	color: white;
    border: none;
}

::placeholder {
	color: rgba(180, 180, 180) !important;
	opacity: 1;
}
